.anchor-pane{
    -fx-background-color: white;
}

.labelHeader {
    -fx-font-size: 18;
    -fx-text-fill:  #2c3e50;
    -fx-font-weight: bold;
    -fx-underline: true;
}

.labelDescriptor {
    -fx-font-size: 14;
    -fx-text-fill:  #2c3e50;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: transparent;
    -fx-text-fill:  #2c3e50;
    -fx-border-color:  #2c3e50;
    -fx-border-width: 0 0 2 0;
}