.button{
    -fx-cursor: hand;
}

.registerButton {
    -fx-background-color:  #31087b;
    -fx-border-color:  #31087b;
    -fx-border-width: 2px;
    -fx-text-fill: white;
}

.registerButton:hover {
    -fx-background-color: white;
    -fx-border-color:  #31087b;
    -fx-border-width: 2px;
    -fx-text-fill:  #31087b;
}